body {
	font-family: 'Mystery Quest', cursive;
	background-image: url("../img/hero.jpg");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
nav {
	background-color: lightgray;
}

.navbar a.navbar-brand {
	color: purple;
	font-size: 40px;
}

.navbar a.navbar-brand:hover {
	color: lavender;
}

.navbar-light .navbar-nav .nav-link {
	color: purple;
	font-size: 30px;
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: lavender;
}

#welcome {
	background-color: rgba(185, 226, 255, 0.85);
	height: auto;
	margin-top: 200px;
	margin-bottom: 130px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

#welcome h1 {
	font-size: 80px;
	-webkit-animation-duration: 2s;
		-ms-animation-duration: 2s;
			animation-duration: 2s;
}

#welcome p {
	padding-top: 20px;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	animation-duration: 2s;
}

#artwork {
	background-color: rgba(173, 208, 94, 0.85);
	height: auto;
	padding-bottom: 50px;
	margin-bottom: 130px;
}

#artwork h1 {
	font-size: 70px;
	color: purple;
	padding: 85px 0 20px;
	text-align: center;
}

#header {
	text-align: center;
}

#header li {
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 5px 30px;
}

#header a {
	color: purple;
}

#header a:hover {
	text-decoration: none;
	color: lavender;
}

.row {
	margin-bottom: 20px;
}

#about {
	background-color: rgba(251, 182, 255, 0.85);;
	height: 800px;
	margin-bottom: 130px;
}

#about h1 {
	font-size: 70px;
	color: purple;
	padding: 85px 0 20px;
	text-align: center;
}

#about img {
	height: 500px;
	width: 700px;
}

#about p {
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 20px;
	font-size: 20px;
}

#contact {
	background-color: rgba(255, 177, 123, 0.85);;
	height: auto;
	margin-bottom: 130px;
	padding-bottom: 40px;
}

#contact h1 {
	font-size: 70px;
	color: purple;
	padding: 85px 0 20px;
	text-align: center;
}

#contact div {
	background-color: lightgray;
	width: 50%;
	margin: auto;
	text-align: center;
}

#contact label,
#contact p {
	font-size: 30px;
	display: inline-block;
	margin: 10px auto;
	font-family: 'Open Sans Condensed', sans-serif;
}

#contact a {
	color: #9ed000;
	font-size: 40px;
	margin: 20px;
}

#contact a:hover {
	color: purple;
}

#footer {
	height: 100px;
	background-color: lightgray;
}

#footer p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

